
@{
    ViewData["Title"] = "Cart Page";
}

@model List<TheFakeShop.ShareModels.CartItemViewModel> 
@{ decimal sumPrice = 0;}
<div>
    @foreach (var item in @Model)
    {
        <div class="container-fluid" style="margin-top:20px; margin-bottom:20px;">
            <div class="row">
                <div class="col-2">
                    <img src="@item.Image" alt="cartItemImage" style="width:150px" />
                </div>
                <div class="col">
                    <div class="row">
                        <label>Tên sản phẩm : </label>
                        <b style="margin-left:10px">@item.ProductName</b>
                    </div>
                    <div class="row">
                        <label> Giá tiền : </label>
                        <a style="margin-left:10px">@item.Price</a>
                        @{sumPrice += item.Price*item.Qty;}
                        <label style="margin-left:100px">Số lượng: </label>
                        <a style="margin-left:10px">@item.Qty</a>
                    </div>
                    <div class="row">
                        <button type="button" onclick="successAlert('Chắc chưa bạn?', 'Đưa tay đây nào, mãi bên nhau bạn nhé!'); location.href = '@Url.Action("Delete", "Cart", new { id = item.ProductId})';" class="btn btn-outline-danger btn-lg">Xóa sản phẩm</button>
                    </div>
                </div>
            </div>
        </div>

    }
    <div style="text-align:right;margin-bottom:30px;">
        <label>Thành tiền: @sumPrice</label>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <button type="button" class="btn btn-danger btn-block">Chốt đơn</button>
    }
    else
    {
        <p>You must login to do this!</p>
    }
</div>